.bt_menu {   
    font: 18px Arial;
    color: #fff;
    background: #4682B4;
    width: 150px;
    text-align: center;
    text-decoration:none;    
    border-radius: 10px 10px 0px 0px;
    padding: 10px 20px;
    margin-right: 1px;/*espacio entre menu*/
    line-height: 40px; /*posicion vertical*/
    cursor: pointer;
}

.bt_menu:hover {
    color:#F6E3CE;
    background: #01A9DB;
}


/*MENU1*/
/*
ul * {
    font:14px Arial;
    list-style:none;
    text-decoration: none;
    text-align:left;
    margin: 0;   
    -webkit-border-radius:7px;
    padding-left: 0;
}

.mnu > li{
    float:left;
}

.mnu li a{
    background: #4682B4;
    color:#fff;
    display: block;
    border: 1px solid #086A87;
    padding: 10px 10px;
}

.mnu li a:hover {
    background: #01A9DB;
    color:#F6E3CE;
}

.mnu li ul{
    display:none;
    position: absolute;
    min-width: 120px;
}

.mnu li:hover > ul{
    display: block;
}

.mnu li ul li{
    position: relative;
}

.mnu li ul li ul{
    right: -120px;
    top:0;
}
*/
/*FIN MENU1*/